@import url(reset.css);

.LoginPage{
    width:auto;
    min-height:850px;
    height: auto;
    display:flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.LoginPage_header{
    width: 100%;
    height:102px;
    border-bottom: 1px solid #0679FF;

}

.LoginPage_header span{
    font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: bolder;
font-size: 29px;
line-height: 32px;
/* identical to box height */


color: #0679FF;
position:relative;
height:32px;
left:200px;
top:38px;
}
.LoginPage_header_loginbutton{
    font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */
position: relative;
width: 50px;
height: 22px;
left: 1353px;
top: 38px;

color: #0788FF;
}

.LoginPage_header_signin{
    background: #0679FF;
border-radius: 30px;
font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */

position: relative;
width: 110px;
height: 40px;
left: 1450px;
top: 38px;

color: #FFFFFF;
padding:9px 21px 9px 21px
}

@media (max-width:1600px){
    .LoginPage_header_loginbutton{

    left: 1103px;
    
    
    }

    .LoginPage_header_signin{

    left: 1150px;
    

    }
    
}

@media (max-width:1366px){
    .LoginPage_header_loginbutton{
  
    left: 903px;

    
    
    }

    .LoginPage_header_signin{
    
    left: 953px;

    }
    
}

.LoginPage_body{
    display: flex;
    flex-direction:column;
}

.LoginPage_infotext{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:100px
}
.LoginPage_headtext{
    /* font-family: 'Roboto',sans-serif; */
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 140.69%;
/* or 39px */


color: #000000;
}

.LoginPage_bodytext{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 140.69%;
/* or 25px */


color: #454545;
margin-top:10px
}

.LoginPage_loginbox{
    margin-top:53px;
    display: flex;
    flex-direction: column;
}

.LoginPage_loginmain{
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140.69%;
/* identical to box height, or 23px */



}
.LoginPage_inputbox{
    box-sizing: border-box;

width: 384px;
height: 48px;


border: 1px solid #B9B9B9;
border-radius: 5px;

font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140.69%;
/* or 25px */

padding-left:10px;
padding-top:11px; 
padding-bottom:10px;
color: black;
margin-top:8px;
margin-bottom:20px;
}

.LoginPage_mainloginbutton{
     font-family: 'Inter', sans-serif;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 140.69%;
     /* or 25px */
     
   
     text-align: center;
     
     color: #FFFFFF; 
     background: #0679FF;
     border-radius: 5px;
    padding: 12px 160px 12px 160px;
    max-width: 384px;
    }

.LoginPage_smalltextbox{
    margin-top:9px
}

.LoginPage_smalltext{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140.69%;
/* identical to box height, or 20px */


color: #606060;
}

.LoginPage line{
    width: 384px;
    border: 0.8px solid #0679FF;
    margin-top: 37px;
}

.LoginPage_Snsbox{
    margin-top:28px;
    text-align: center;
}

.LoginPage_snstext{
    
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140.69%;
/* identical to box height, or 23px */


color: #454545;

}

.LoginPage_SNSBUTTON_NAVER{
    width: 384px;
    height: 49px;

margin-top:15px;
background: #03C75A;
border-radius: 5px;
margin-bottom:12px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140.69%;
/* or 25px */

text-align: center;
color: #FFFFFF;
padding-top:13px;
padding-bottom:11px;
}
.LoginPage_SNSBUTTON_GOOGLE{
    box-sizing: border-box;
    
position: absolute;
width: 384px;
height: 49px;


background: #FFFFFF;
border: 1px solid #CBCBCB;
border-radius: 5px;
padding-top:13px;


font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 140.69%;
/* or 25px */

text-align: center;

color: #363636;
padding-bottom:11px;
}

.LoginPage_Snsbox img{
    position: relative;
    right:119px;
    top:4px;
}