.Post_header {
    display: flex;
    padding: 15px;
    border-bottom: 2px solid #0679FF;
    height: 10%;

    font-style: normal;
    font-weight: bolder;
}

.Post_header_title {
    width: 50%;
    font-size: 30px;
    color: #0679FF;
}

.Post_header_right {
    width: 50%;
    display: flex;
    padding-top: 8px;
    justify-content: end;
    color: #353535; 
}

.Post_header_right_com {
    color: #0679FF;
}

.Post_header_right div {
    padding-right: 30px;
}

/* Body */


.Post_ControlMenu {
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #0679FF;
}
.Post_ControlMenu option{
    color: black;
}

.Post_body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.Post_body_1 {
    width: 70%;
    display: flex;
    padding-top: 45px;
}

.Post_body_1_nowday {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    color : #767678;
}

.Post_body_1_title{
    color: #454545;
}
.Post_body_2 {
    width: 70%;
    height: 70vh;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #0679FF;
    border-radius: 10px;
}

.Post_body_2_img {
    display: flex;
    justify-content: start;
    width: 100%;
}

.Post_body_2_imgs {
    color: #767678;
    padding-left: 10px;
    font-size: 13px;
    padding-top: 3px;
}

.Post_body_2_imgss {
    height: 19.43px;
    width: 28px;
    margin-left: 10px
}

.Post_body_2_title {
    width: 98%;
    height: 10%;
    border: 0;
    border-bottom: 1px solid #0679FF;
    padding-left: 10px;
    padding-top: 5px;
}

.Post_body_2_post {
    padding-left: 10px;
    padding-top: 5px;
    width: 98%;
    height: 78%;
    border: 0;
    border-bottom: 1px solid #0679FF;
}


.Post_body_3 {
    width: 70%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
}

.Post_body_3_create {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.Post_body_3_create button {
    border: 1px solid #1E90FF;
    border-radius: 5px;
    background-color: #1E90FF;
    color: aliceblue;
    width: 120px;
    height: 40px;
}

.Post_body_3_exit {
    display: flex;
}
.Post_body_3_exit_point {
    padding-right: 5px;
    color: 0679FF;
}

.Post_body_3_exit_imgs {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}