@import url(reset.css);

.App {
    min-height: 100vh; /* App 컴포넌트는 화면의 100%에 차지하는 높이를 갖게 된다. */
    padding-left: 20px;
    padding-right: 20px;
  }


/* CleanStore */

.CleanStore{

}

.CleanStore .menu_wrapper {
    display: flex;
    align-items: center;
}

.CleanStore .cleanstore_content{
    margin-left: 72px;
    flex-grow: 1;   
}

/* SideBar */

.SideBar{
    margin-top:37px;
    margin-left: 48px;
    border-right: 1px solid #0679FF;
    min-height: 100vh;
}

.SideBar nav{
    margin-top: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* padding-bottom:16px; */
}

.SideBar .mypage{
    cursor: pointer;
    margin-bottom: 16px;
}

.SideBar .findstore{
    cursor: pointer;
    margin-bottom: 16px;
}

.SideBar .cleanstore{
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 8px;
}

.SideBar .emptybottlestore{
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 16px;
}

.SideBar .community{
    cursor: pointer;
    margin-bottom: 16px;
}

.SideBar .zeroweistdiary{
    cursor: pointer;
    margin-bottom: 437px;
    margin-right:49px;
}

.SideBar .logout{
    cursor: pointer;
    margin-bottom: 16px;
    margin-right:49px;
}
