@import url(reset.css);

.App {
    min-height: 100vh; /* App 컴포넌트는 화면의 100%에 차지하는 높이를 갖게 된다. */
    padding-left: 20px;
    padding-right: 20px;
  }


/* CleanStore */

.CleanStore{

}

.CleanStore .menu_wrapper {
    display: flex;
}

.CleanStore .cleanstore_content{
    margin-left: 72px;
    flex-grow: 1;   
}

.CleanStore h2{
    margin-top: 42px;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
}

.CleanStore h4{
    margin-top: 15px;
    line-height: 22px;
    color: #767678;
    font-size: 18px;
    font-weight: 400;
}

.CleanStore .earth_logo{
    margin-top: 42px;
    margin-right: 105px;
    width: 135.72px;
    height: 105px;
    left: 1679px;
    /* display: flex; */
}

/* CleanStore_list */

.CleanStore .cleanstore_list{
    display: flex;
    width: 100%;
}

/* CleanStoreList */

.CleanStoreList{
    margin-top: 63px;
    border-top: 1px solid #0679FF;
    min-width: 100%;
    display: grid; /* 격자를 만들어줌*/
    grid-template-columns: repeat(3, auto); /* 격자 5개 지정 */
    gap: 1%; /* item 사이의 gap 생성 */
}

/* CleanStoreItem */
.CleanStoreItem{
    margin-left: 72px;
    margin-top: 120px;
    width: 478px;
    height: 464px;
    /* justify-content: space-between; */
    
}

.CleanStoreItem .img_wrapper{
    cursor: pointer;
}

.CleanStoreItem img{
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    width: 478px;
    height: 464px;
}

.CleanStoreItem .info_wrapper{
    margin-top: 17px;
    border-top: 1px solid #0679FF;
}

.CleanStoreItem .info_wrapper .store_name{
    margin-top: 12px;
    color: #075CFF;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
}

.CleanStoreItem .info_wrapper .store_content{
    color: #474747;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}

/* CleanStoreDetail */

.CleanStoreDetail{
    display: flex;
}

.CleanStoreDetail .cleanstore_detail{
    flex-grow: 1;
}

.CleanStoreDetail .cleanstore_topbar{
    margin-left: 72px;
    margin-top: 42px;
}

.CleanStoreDetail .cleanstore_topbar h2{

    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.CleanStoreDetail .cleanstore_content{
    border-top: 1px solid #0679FF;
    margin-top: 33px;
    display: flex;
}

.CleanStoreDetail .cleanstore_content h2{
    margin-left: 70px;
    margin-top: 38px;
    color : #0679FF;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    flex-grow: 1;
}

.CleanStoreDetail .cleanstore_content2 h3{
    margin-left: 70px;
    margin-top: 37px;
    color : #D9D9D9;
    font-weight: 500;
    font-size: 35px;
    line-height: 55px;
}

.CleanStoreDetail .cleanstore_content2 h4{
    margin-left: 942px;
    margin-top: 48px;
    margin-right: 140;
    color : #474747;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;  
}

.CleanStoreDetail .cleanstore_content2 img{
      margin-top: 76px;
      margin-left: 93px;
      max-width: 100%;
      max-height: 100%;
      /* width: 700px; */
      height: 754px;
}

.CleanStoreDetail .cleanstore_url button{
    border-radius: 50px;
    cursor: pointer;
    margin-top: 38px;
    margin-right: 101px;
    display: flex;
    border: 1px solid #0679FF;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0679FF;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 36px;
    padding-right: 18px;
}

.CleanStoreDetail .cleanstore_url button a{
    color : #0679FF;
    text-decoration: none;
}

.CleanStoreDetail .cleanstore_url img{
    max-width: 100%;
    max-height: 100%;
    width: 20px;
    height: 20px;
    margin-left: 23px;
    margin-right: 20px;
    margin-top: 3px;

}

.CleanStoreDetail .cleanstore_management{
    margin-top: 47px;
    border-top: 1px solid #0679FF;
}

.CleanStoreDetail .cleanstore_management h2{
    margin-top: 22px;
    color: #075CFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

/* SideBar */

.SideBar{
    margin-top:37px;
    margin-left: 48px;
    border-right: 1px solid #0679FF;
    min-height: 100vh;
}

.SideBar nav{
    margin-top: 55px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* padding-bottom:16px; */
}

.SideBar .mypage{
    cursor: pointer;
    margin-bottom: 16px;
}

.SideBar .findstore{
    cursor: pointer;
    margin-bottom: 16px;
}

.SideBar .cleanstore{
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 8px;
}

.SideBar .emptybottlestore{
    cursor: pointer;
    margin-left: 18px;
    margin-bottom: 16px;
}

.SideBar .community{
    cursor: pointer;
    margin-bottom: 16px;
}

.SideBar .zeroweistdiary{
    cursor: pointer;
    margin-bottom: 437px;
    margin-right:49px;
}

.SideBar .logout{
    cursor: pointer;
    margin-bottom: 16px;
    margin-right:49px;
}
