@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto&display=swap');



.mypage .mypage_nav {
    position: fixed;
    z-index: 1;

    display: block;
    width: 250px;
    height: 1080px;
    background: #FFFFFF;
    border-right: 1px solid #0679FF;

    padding-top: 37px;
    padding-left: 48px;
    margin-right: 0px;
}

.mypage .mypage_nav a{
    display: inline-block;
}


.mypage .mypage_mypage {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;

    cursor: pointer;

    color: #0679FF !important;
}

.mypage .mypage_goto_mypage {

    padding-top: 80px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;

    color: #0679FF !important;
}

.mypage .mypage_goto {

    padding-top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;

    color: #353535 !important;
}

.mypage .mypage_logout {

    padding-top: 513px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;

    color: #353535 !important;

}

.mypage .mypage_content  {
    padding-left: 250px;
}

.mypage .mypage_where {
    border-bottom: 1px solid #0679FF;
    width: 1694px;
}

.mypage .mypage_title {

    padding-top: 42px;
    padding-bottom: 33px;
    padding-left: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    
}

.mypage .mypage_my {
    position: fixed;
    z-index: 1;
    display: block;
    width: 468px;
    padding-top: 73px;
    padding-left: 72px;
    padding-right: 72px;

    
    
}
.mypage .mypage_my_info {
    text-align: center;
}

.mypage .mypage_my_info img {
    border-radius: 70%;
    width: 237px;
    height: 237px;
    overflow: hidden;

    
}

.mypage .mypage_my_info p {
    margin-bottom: 18px;
}

.mypage .mypage_nickname {
    padding-top: 43px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #151515;
}

.mypage .mypage_email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #545454;
}

.mypage .mypage_edit_info_btn {

    width: 203px;
    height: 53px;

    margin-top: 28px;
    margin-bottom: 33px;

    background: #FFFFFF;
    border: 1px solid #0679FF;
    border-radius: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #0679FF;
}

.mypage .mypage_my_menu {

    display: block;
    justify-content: left;
    text-align: left;
    width: 324px;
    

    padding-top: 47px;

    border-top: 1px solid #0679FF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.mypage .mypage_my_menu a{
    display: inline-block;
}

.mypage .mypage_info {
    color: #0679FF !important;
}

.mypage .mypage_goto_menu {

    margin-top: 30px;
    text-align: left;
}

.mypage .mypage_level_detail {
    position: fixed;
   
}

.mypage .mypage_level_title {
    display: flex;
    
    height: 35px;
    
    padding-left: 535px;
    margin-top: 60px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #2E2E2E;
}

.mypage .mypage_level_title2 {
    display: flex;
    
    height: 35px;
    
    padding-left: 535px;
    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #2E2E2E;
}

.mypage .mypage_level_kr {
    display: flex;
    
    height: 35px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #075CFF;
}
.mypage .mypage_level_img {
    
    width: 497px;
    height: 353px;

    margin-top: 39px;
    margin-bottom: 5px;
    margin-left: 535px;
    
}

.mypage .mypage_point {
    padding-top: 348px;
    padding-left: 1104px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;

    color: #535353;
}

.mypage .mypage_point_status {
    display: block;
}

.mypage .mypage_coins_img{
    padding-left: 1104px;
    padding-right: 15px;
}

.mypage .mypage_my_point {
    float: left;

    margin-top: 11px;
    margin-right: 144px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #0679FF;
}

.mypage .mypage_next_point{

    padding-top: 16px;
    padding-left: 144px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140.69%;

    color: #474747;

}

.mypage .mypage_point_progress {
    
    appearance: none;
    width: 470px;
    height: 18.61px;
    margin-top: 18px;
    margin-left: -258px;

}

.mypage .mypage_point_progress::-webkit-progress-bar {
    background:#D9D9D9;
    border-radius:50px;
    
}
.mypage .mypage_point_progress::-webkit-progress-value {
    
    background: #034DEA;
    border-radius:50px;
    
}

.mypage .mypage_content_title {
    display: flex;
    
    
    padding-left: 535px;
    margin-top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}
.mypage .mypage_calendar_status{
    position: fixed;
}

.mypage .mypage_calendar {
    margin-top: 11px;
    margin-left: 536px;
}

.react-calendar {
    width: 486px;
    max-width: 100%;
    background: white;
    border: 1px solid white;
    font-family: 'Inter';
    
    pointer-events: none;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 20px;
    
  }
  .react-calendar__navigation button {
    
    background: none;
    font-size: 18px;
    font-family: 'Inter';
  }
  
  .react-calendar__navigation__prev2-button,
  .react-calendar__navigation__prev-button,
  .react-calendar__navigation__next-button,
  .react-calendar__navigation__next2-button
  {
    color: white;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter';
    font-size: 16px;
    padding-bottom: 30px;
    
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Inter';
    
  }
  
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #FFFFFF;
  }
  
  .react-calendar__tile {
    font-family: 'Inter';
    max-width: 100%;
    padding-bottom: 30px;
    
    
    background: none;
    text-align: center;
    line-height: 16px;
    white-space: nowrap;
    font-size: 16px;
  }
 
 .mypage .mypage_badge{
    padding-left: 564px;
 }
  
 .mypage .mypage_badge_top {
    padding-top: 64px;
    padding-left: 535px;
   
    position: relative;
 }

 .mypage .mypage_badge_img {
    
    position: absolute;
 }

 .mypage .mypage_badge_img2 {
    padding-left: 125px;
    position: absolute;
 }

 .mypage .mypage_badge_img3 {
    padding-left: 250px;
    position: absolute;
 }

 .mypage .mypage_badge_top_base {
    padding-left: 26px;
 }

 .mypage .mypage_badge_bottom {
    padding-top: 22px;
    padding-left: 535px;
   
    position: relative;
 }

 .mypage .mypage_badge_bottom_base {
    padding-left: 26px;
 }

 .mypage .mypage_badge_more_btn {
    width: 98px;
    height: 98px;
    vertical-align: top;

    margin-top: 0px;
    margin-left: 26px;


    border-radius: 50%;
    border: 1px solid #0679FF;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #0679FF;
 }