.RegistBottleStore{
  display: flex;
}
.registbottlestore_navbar_left{
  background-color: white;
  display: flex;
  position: fixed;
  flex-direction: column;
  border: 1px solid #0679FF;
  border-style: none solid none none;
  height: 800px;
  width: 173px;
  padding: 20px 26px;
}
.registbottlestore_navbar_left_menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 300px; 
  margin-top: 40px;
}
.registbottlestore_navbar_left_menu > .registbottlestore_present{
  color: #0679FF;
}
.registbottlestore_navbar_left_menu > a{
  color: black;
  font-size: 13px;
  text-decoration: none;
  margin: 8px 0;
}

.registbottlestore_navbar_left_logout > a {
  color: black;
  font-size: 13px;
  text-decoration: none;
}

.registbottlestore_navbar_left_menu > a:hover{
  color: #0679FF;
}


.registbottlestore_right{
  display: flex;
  padding-left: 173px;
  flex-direction: column;
  max-width: 1300px;
}
.registbottlestore_navbar_top{
  display: flex;
  position: fixed;
  background-color: white;
  border: 1px solid #0679FF;
  border-style: none none solid none;
  width: 90%;
  padding: 5px 0px 10px;
}
.registbottlestore_navbar_top > .registbottlestore_text{
  display: flex;
  flex-direction: column;
  padding: 20px 55px;
  
}
.registbottlestore_navbar_top > .registbottlestore_text > .registbottlestore_line1{
  align-items: center;
  display: flex;height: 40px;
}
.registbottlestore_navbar_top > .registbottlestore_text > .registbottlestore_line1 > .registbottlestore_title1{
  font-weight: bold;
  font-size: 19px;
  margin-right: 20px;
}
.registbottlestore_navbar_top > .registbottlestore_text > .registbottlestore_line1 > .registbottlestore_title2{
  font-weight: bold;
  font-size: 15px;
  color: #0679FF;
  padding-top: 4px;
}
.registbottlestore_navbar_top > .registbottlestore_text > p{
  font-size: 12px;
  color: gray;
  margin: 0;
}
.registbottlestore_navbar_top > .registbottlestore_logo{
  position: absolute;
  top: 20px;
  right: 40px;
}


/* main*/

.registbottlestore_main{
  padding: 140px 100px;
}
.registbottlestore_main > .registbottlestore_boxes > .registbottlestore_box_question > .registbottlestore_box {
  margin: 30px 0;
}
.registbottlestore_main > .registbottlestore_boxes .registbottlestore_Q{
  color: #0679FF;
  font-size: 18x;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
.registbottlestore_main > .registbottlestore_boxes  .registbottlestore_A{
  height: 80px;
  width: 900px;
  border: solid 0.2px;
  border-color: #0679FF;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 9px;
  resize: none;
}

input:focus{
  outline: none;
}
.registbottlestore_main > .registbottlestore_boxes > .registbottlestore_box_img {
  width: 800px;
}
.registbottlestore_main > .registbottlestore_boxes > .registbottlestore_box_img > .registbottlestore_order{
  color: #0679FF;
  font-size: 18x;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  width: 225px;
}
.registbottlestore_main > .registbottlestore_boxes > .registbottlestore_box_img > .registbottlestore_input_img{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 225px;
  border: solid 0.2px;
  border-color: #0679FF;
  border-radius: 5px;
}


.registbottlestore_main > .registbottlestore_main_bottom {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.registbottlestore_main > .registbottlestore_main_bottom > .registbottlestore_back{
  color: #0679FF;
  text-decoration: none;
}
.registbottlestore_main > .registbottlestore_main_bottom > .registbottlestore_save{
  border: 1px solid #0679FF;
  color: #0679FF;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
}